html {
  background-color: rgb(155, 168, 180);
  font-size: 24px;
}

table {
  border-collapse: collapse;
  border-style: solid;
  margin: auto;
}

td {
  width: 100px;
  border-style: solid;
}

tr {
  height: 40px;
  border-style: solid;
}


