html {
  background-color: gainsboro;
  font-size: 18px;
}

table,
td,
tr {
  border-collapse: collapse;
  border-style: solid;
  margin: auto;
}

td {
  width: 100px;
}

tr {
  height: 40px;
}

a {
  background-color: white;
  padding: 10px;
  text-align: left;
  border-radius: 10px;
  text-decoration: none;
}
