html {
  background-image: url(img/backgraund.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 24px;
}

table,
td,
tr {
  background-color: ivory;
  border-collapse: collapse;
  border: solid;
  margin: auto;
}

:any-link {
  color: ivory;
  font-style: italic;
  font-size: 16px;
}
.submit {
  text-align: center;
  padding: 5px;
}
